.container {
  display: flex;
  width: 594px;
  height: 409px;
  top: 283px;
  left: 432px;
  padding: 28px;
  gap: 36px;
}
.h1 {
  width: 538px;
  height: 25px;
}

.h2 {
  width: 538px;
  height: 20px;
}

.input-time {
  display: flex;
  width: 261px;
  height: 56px;
  padding: 8px;
  background: rgba(160, 185, 205, 0.15);
}
