<div fxFlex>
  <div class="container">
    <h2>Настройки</h2>
    <div class="nav-items">
      <button (click)="openBookingWorkplace()" class="nav-item">
        <a>Бронь рабочих мест</a>
      </button>
      <button (click)="openBookingConference()" class="nav-item">
        <a>Бронь переговорной</a>
      </button>
      <button (click)="openBookingWorkday()" class="nav-item">
        <a>Рабочие дни</a>
      </button>
      <button (click)="openBookingTeam()" class="nav-item">
        <a>Команды</a>
      </button>
    </div>
  </div>
</div>
